<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.zombiegame.deploy</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/node</string>
        <string>/Users/mriu/Downloads/zombiiiii/zombie-browser-game/deploy-server.js</string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/mriu/Downloads/zombiiiii/zombie-browser-game</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>DEPLOY_PORT</key>
        <string>9000</string>
        <key>GITHUB_WEBHOOK_SECRET</key>
        <string>302864d79c669df7a5d0c4f3db795a89c1e8f063c484390adb1716da6a72116d</string>
    </dict>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/Users/mriu/Downloads/zombiiiii/zombie-browser-game/deploy-stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/mriu/Downloads/zombiiiii/zombie-browser-game/deploy-stderr.log</string>
</dict>
</plist>
