services:
  - type: web
    name: zombie-game
    env: docker
    plan: free
    region: frankfurt
    healthCheckPath: /
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 3000
